<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages App</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'contact' %}">Contact</a>
    </header>

    {%block content%}
    {%endblock%}

</body>
</html>